* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
}

.ex {
    background-image: url(../img/best-anime-like-one-piece.jpg);
    border: 20px solid black;
    border-radius: 50px;
    background-size: cover;
    background-position: top center;
    width: 1200px;
    height: 800px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 200px;
    margin-right: 500px;
}

input {
    background-color: white;
    border-radius: 20px;
    height: 50px;
    width: 500px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    color: rgb(87, 87, 87);
}

ul {
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

button {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.856);
    padding-left: 30px;
    padding-right: 32px;
    font-size: 40px;
    color: grey;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 10px;
}
td{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 10px black;
    font-size: larger;
}