*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 50px;
}
main{
    background-image: url(../img/rage.jpg);
    border: 20px solid black;
    border-radius: 50px;
    background-size: cover;
    background-position: top center;
    width: 1200px;
    height: 800px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 200px;
    margin-right: 500px;
}
.div1{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
input{
    background-color: white;
    border-radius: 20px;
    height: 50px;
    width: 500px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    color: rgb(87, 87, 87);
}
ul{
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.a1{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.242);
    padding-left: 30px;
    padding-right: 32px;
    font-size: 40px;
    color: grey;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 90px;
}
.a2{
    border: 2px solid rgb(6, 0, 28);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.267);
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
    color: grey;
}
p{
    padding-top: 10px;
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 50px;
}